# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\FACULTATE\Burse\JOBS\Projects\freecodecamp\datascience\boilerplate-demographic-data-analyzer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
